.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
*.html


!**/README.md

# data products are derived from raw data
data/products/**
# data pulled from database
data/raw/db/**

# outputs are produced by scripts
outputs/**

# keep all readme files
!data/**/
!**/README.md
